<a href="https://colab.research.google.com/github/taehohoho/LESSON/blob/master/210723_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(range(0, 10, 1))

range(0, 10)

In [2]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
for a in range (0, 6, 1) :
    print(a)

0
1
2
3
4
5

In [4]:
for a in range(0, 6, 2):
    print(a)

0
2
4

In [6]:
print(list(range(0,10,1)))
print(list(range(0,10)))
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
print(list(range(0, 20, 5)))
print(list(range(-10, 0, 2)))
print(list(range(3, -10, -3)))
print(list(range(0, -5, 1)))

[0, 5, 10, 15]
[-10, -8, -6, -4, -2]
[3, 0, -3, -6, -9]
[]

In [9]:
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

print('x, y')
for x in x_list :
    for y in y_list :
        print(x,y)

x, y
x1 y1
x1 y2
x2 y1
x2 y2

In [10]:
names = ['james', 'robert', 'lisa', 'mary']
scores = [65, 96, 97, 94]

In [12]:
for k in range(len(names)):
    print(names[k], scores[k])

james 65
robert 96
lisa 97
mary 94

In [13]:
for name, score in zip(names, scores):
    print(name, score)

james 65
robert 96
lisa 97
mary 94

In [14]:
i = 0   # 초기화
sum = 0 # 초기화

print("i sum")
while (sum < 20) :  # 조건 검사
    i = i + 1       # i를 1씩 증가
    sum = sum + i   # 이전의 sum과 현재 i를 더해서 sum을 갱신
    print(i, sum)   # i와 sum을 출력

i, sum
1 1
2 3
3 6
4 10
5 15
6 21