<a href="https://colab.research.google.com/github/taehohoho/LESSON/blob/master/210728_read_write.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
f = open('myFile.txt', 'w')
f.write('This is my first file.')
f.close()

In [2]:
!cat myFile.txt

This is my first file.

In [3]:
f = open('myFile.txt', 'r') # (1) 'myFile.txt'파일 읽기 모드로 열기
file_text = f.read()        # (2) 파일 내용 읽은 후에 변수에 저장
f.close()                   # (3) 파일 닫기

print(file_text)            # 변수에 저장된 내용 출력

This is my first file.

In [8]:
f = open('two_times_table.txt', 'w')    # (1) 파일을 쓰기 모드로 열기
for num in range(1,6):                  # (2) for문 : num이 1~5까지 반복
    format_string = "2 * {0} = {1}\n".format(num,2*num)   # 저장할 문자열 생성
    f.write(format_string)              # (3) 파일에 문자열 저장
f.close()                               # (4) 파일 닫기

!cat two_times_table.txt

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [10]:
f = open("two_times_table.txt")
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, end="")
print(line2, end="")

2 * 1 = 2
2 * 2 = 4

In [19]:
f = open("two_times_table.txt")
line = f.readline()
while line :
    print(line, end = "")
    line = f.readline()
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [12]:
f = open("two_times_table.txt")
lines = f.readlines()
f.close()
print(lines)

['2 * 1 = 2\n', '2 * 2 = 4\n', '2 * 3 = 6\n', '2 * 4 = 8\n', '2 * 5 = 10\n']

In [15]:
f = open("two_times_table.txt")
lines = f.readlines()
f.close()
for line in lines:
    print(line, end="")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [16]:
f = open("two_times_table.txt")
for line in f.readlines() :
    print(line, end="")
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [17]:
f = open("two_times_table.txt")
for line in f :
    print(line, end="")
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [20]:
f = open('myTextFile.txt','w')      # (1) 파일 열기
f.write('file write/read test.')    # (2) 파일 쓰기
f.close()                           # (3) 파일 닫기

In [22]:
f = open('myTextFile.txt','r')  # (1) 파일 열기
test = f.read()                 # (2) 파일 쓰기
f.close()                       # (3) 파일 닫기
print(test)

In [24]:
with open('myTextFile2.txt', 'w') as f :   # (1) 파일 열기
    f.write('File read/write test2: line1\n')    # (2) 파일 쓰기
    f.write('File read/write test2: line2\n')
    f.write('File read/write test2: line3\n')

In [25]:
with open('myTextFile2.txt') as f: # (1) 파일 열기
    file_string = f.read()
    print(file_string)

File read/write test2: line1
File read/write test2: line2
File read/write test2: line3

In [27]:
with open('myTextFiles3.txt', 'w') as f :   # 파일을 쓰기 모드로 열기
    for num in range(1, 6) :                # for 문에서 num이 1~5까지 반복
        format_string = "3 x {0} = {1}\n".format(num, 3*num)   # 문자열 생성
        f.write(format_string)

In [29]:
with open('myTextFiles3.txt', 'r') as f : # 파일을 읽기 모드로 열기
    for line in f :             # 파일 전체를 읽고 리스트 항목을 line에 할당
        print(line, end="")     # line에 할당된 문자열 출력(줄 바꿈 안함)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15