In [1]:
# 멜론 사이트 접속하기
from selenium import webdriver
from bs4 import BeautifulSoup

driver = webdriver.Chrome('C:/Myexam/chromedriver/chromedriver.exe')
url =    'http://www.melon.com/chart/index.htm'
driver.get(url) 

html = driver.page_source
soup = BeautifulSoup(html,'html.parser')

In [2]:
# 반복문을 이용해 곡과 가수명을 song_data에 저장하기
song_data = []
rank= 1

songs = soup.select('table > tbody > tr')

for song in songs:
    title = song.select('div.rank01 > span > a')[0].text
    singer = song.select('div.rank02 > a')[0].text
    song_data.append(['Melon', rank, title, singer])
    rank = rank + 1

In [3]:
# song_data 리스트를 이용해 데이터프레임 만들기
import pandas as pd
columns = ['서비스', '순위', '타이틀', '가수']
pd_data = pd.DataFrame(song_data, columns = columns)
pd_data.head()

     서비스  순위                  타이틀             가수
0  Melon   1                  신호등            이무진
1  Melon   2               바라만 본다  MSG워너비(M.O.M)
2  Melon   3           Next Level          aespa
3  Melon   4        낙하 (with 아이유)      AKMU (악뮤)
4  Melon   5  Permission to Dance          방탄소년단

In [5]:
# 크롤링 결과를 엑셀파일로 저장하기
pd_data.to_excel('./files/melon.xlsx', index= False )