<a href="https://colab.research.google.com/github/taehohoho/LESSON/blob/master/franchise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Chicken Franchise Project by Jinwook Kim

In [ ]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [ ]:
# 가맹사업정보시스템 URL.
target_url = "https://franchise.ftc.go.kr/main/index.do"

In [ ]:
# 크롬 드라이버 로딩.
driver = webdriver.Chrome()
driver.get(target_url)

In [ ]:
# 브랜드별 비교 탭 누르기.
driver.find_element_by_css_selector(".main_tab01 .tab03 > a").click()

In [ ]:
# 치킨 선택.
driver.find_element_by_css_selector("#selIndus3 > option[value='H1']").click()

In [ ]:
# 가맹점 현황 정보 선택.
driver.find_element_by_css_selector("select[name='selListType'] > option[value='listBrand02']").click()

In [ ]:
# 검색 버튼 클릭.
driver.find_element_by_css_selector("#frmSearch3").submit()

In [ ]:
# 내림차순 버튼 클릭.
driver.find_element_by_css_selector(".tdown").click()

In [ ]:
# 전체 페이지 소스 얻어오기.
source = driver.page_source
driver.close()
source[:100]

'<html lang="ko"><head>\n    <meta charset="utf-8">\n    <meta name="robots" content="noindex">\n    <me'

In [ ]:
# 페이지 소스를 BeautifulSoup에 연결.
soup = BeautifulSoup(source, "html.parser")

In [ ]:
# 행 리스트 가져오기.
rows = soup.select(".table tbody tr")[1:]
rows[0]

<tr>
<td>비비큐(BBQ)</td>
<td>(주)제너시스비비큐</td>
<td>1,604</td>
<td>88</td>
<td>90</td>
<td>30</td>
<td>44</td>
<td>
                                577,875



                                        (50.00)


                            </td>
<td>
                                43,190



                                        (4.00)


                            </td>
</tr>

In [ ]:
# 이름 가져오기.
names = [row.select_one("td:first-child").string for row in rows]
names

['비비큐(BBQ)',
 '비에이치씨(BHC)',
 '교촌치킨',
 '처갓집양념치킨',
 '페리카나',
 '네네치킨',
 '굽네치킨',
 '멕시카나',
 '호식이두마리치킨',
 '또래오래',
 '또봉이통닭',
 '지코바양념치킨',
 '60계',
 '노랑통닭',
 '치킨플러스',
 '부어치킨',
 '맥시칸치킨',
 '티바두마리치킨',
 '티바두마리치킨',
 '티바두마리치킨',
 '티바두마리치킨',
 '티바두마리치킨',
 '티바두마리치킨',
 '티바두마리치킨',
 '티바두마리치킨',
 '티바두마리치킨',
 '펀비어킹',
 '땅땅치킨',
 '훌랄라숯불치킨',
 '신통치킨',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '푸라닭',
 '자담치킨',
 '깐부치킨',
 '투존치킨',
 '치킨매니아',
 '누나홀닭',
 '호치킨',
 '호치킨',
 '호치킨',
 '호치킨',
 '바른치킨',
 '디디치킨(DD치킨)',
 '코리엔탈깻잎두마리치킨',
 '본스치킨',
 '보드람 치킨',
 '치킨신드롬',
 '오븐에 꾸운 닭',
 '치요남치킨',
 '충만치킨',
 '오븐마루',
 '불로만치킨바베큐',
 '알통떡강정',
 '치킨더홈',
 '맛닭꼬',
 '코리안바베큐',
 '가마로강정',
 '장모님치킨',
 '둘둘치킨',
 '계동치킨',
 '다사랑',
 '테트리스찜닭',
 '박군치킨',
 '컬투치킨',
 '오븐에빠진닭',
 '오닭꼬치',
 '치킨의민족',
 '쌀통닭',
 'DK Chicken (디케이치킨)',
 '미쳐버린파닭',
 '이춘봉인생치킨',
 '치킨678',
 '브이에프씨치킨파티(VFC치킨파티)',
 '꼬꼬아찌',
 '경아두마리치킨',
 '치킨과 바람피자',
 '아웃닭',
 '못말리는파닭',
 '8800켄터키치킨',
 '봉이치킨',
 '치킨뱅이',
 '전설의치킨',
 '아주커',
 '종국이두마리치킨',
 '허갈닭강정',
 '오늘통닭',
 '양계장집아들',
 '만땅치킨',
 '바보스',
 '림스치킨',
 '동근이숯불두마리치킨',
 '범프리카인생치킨',
 '김스타치킨',
 '수상한탕수육',
 '오태식해바라기치킨',
 'Mr.짱닭치킨',
 '꾸꾸루꾸바베큐',
 '놀부옛날통닭',
 '만년닭강정',
 '꾸브라꼬 숯불 두마리 치킨',
 '계림원누릉지통닭구이',
 '닭장수후라이드和',
 '오부장치킨',
 '사쿠사쿠',
 '진미대왕통닭',
 '씨에프숯불바베큐치킨',
 '추닭집',
 '본초불닭발',
 '두리아',
 '조선의 옛날통닭',
 '달봉이치킨',
 '봉구통닭',
 '큰통치킨',
 '쌀쌀맞은닭',
 '쭈노치킨가게',
 '한앤둘치킨',
 '국제통닭',
 '치킨퐁',
 '야들리애',
 '조커닭 (Jokerdark)',
 '치킨멤버',
 '아이벗치킨',
 '위드치킨',
 '치순이통닭',
 '상문이두마리숯불양념치킨',
 'DDC치킨',
 '철인7호',
 '안심치킨',
 '무봤나 촌닭',
 '치킨삼파전',
 '화르화르',
 '온고지신 통닭元',
 '하이꼬꼬',
 '지랄닭발',
 '치킨89(치킨팔구)',
 '김진철동래통닭',
 'BRD백록담',
 '더기발한치킨(The기발한치킨)',
 '해두리치킨',
 '명랑한찜닭',
 '빅원치킨',
 '삼십구치킨',
 '조선CH.S치킨',
 '삼통치킨',
 '치킨주막',
 '파-닭에파무쳐',
 '꿀닭',
 '칠칠켄터키',
 '후라이드바삭킹',
 '맛있게매운(빨석구)빨간석쇠구이',
 '부여통닭',
 '허대구 대구통닭',
 '94번가',
 '맥켄치킨',
 '매드후라이치킨',
 '아이러브피자&치킨 ',
 '깜꼬치킨',
 '낭만치킨',
 ' 꼬레랑',
 '치킨선생',
 '모던통닭',
 '하우스홀드',
 '투마리치킨',
 '치킨히어로',
 '땡큐맘치킨',
 '김성구의성마늘치킨',
 "오리지널 팔칠(87')닭강정",
 'one&two깻잎두마리치킨 (원앤투깻잎두마리치킨)',
 '징기스칸치킨',
 '소담치킨',
 '백년가마솥옛날통닭',
 '투가이즈(TWO GUYS)',
 '굽는치킨',
 '꼬꼬시티앤제이빅',
 '명동닭튀김',
 '아리아리닭강정',
 '존슨켄터키',
 '꿀마니 닭강정',
 'One&Two깻잎두마리치킨',
 '태권치킨',
 '부뚜막치킨',
 '더썬치킨',
 '아침닭',
 '대박나자 부자치킨',
 '처갓집플러스케이준치킨',
 '도담치킨',
 '깜닭치킨',
 '무성구어바베큐치킨',
 '치르치르',
 '또또닭강정',
 '수준이 다른 치킨',
 '836숯불바베큐치킨',
 '코만도',
 '불촌두마리치킨',
 '맛데이',
 '마슬랜',
 '정직한통닭',
 '김순례 닭강정',
 '대한맥주집',
 '더후라이팬 후라이드 치킨',
 '에디슨치킨',
 '갓튀긴후라이드',
 '세븐치킨',
 '브라운치킨',
 '냠냠숯불두마리치킨',
 '오빠담치킨',
 '용범이네 노상통닭',
 '투마리나',
 '청춘명랑치킨',
 '김군네통닭집',
 '둘마니치킨',
 '전국3대치킨 오성통닭',
 '꼬꼬봉투통닭',
 '거성치킨',
 '사바사바치킨앤비어',
 '별별치킨',
 '지붕위에',
 '치뽁(CHIPPOK)',
 '진도담찜닭(珍도담찜닭)',
 '닭꾸버',
 '닭강정 맛 가격 5반하다',
 '닭깡',
 '용달통닭',
 '치칵치칵',
 '치킨처럼',
 '앗싸마늘닭',
 '마파치킨',
 '닭권브이',
 '닭광정',
 '두마리치킨마당',
 '똥꼬치킨 ',
 '똥집의 달인',
 '몽키스비어',
 '김종용누룽지통닭',
 '바비후',
 '그시절옛날통닭',
 '피니치니',
 '필바든치킨',
 '호호닭발',
 '콩닥콩닭',
 '치킨이남달라',
 '두레옛날통닭',
 '엔칙스치킨',
 '닭에꼬치닭',
 '1987금빛통닭',
 '아이커버거&치킨',
 '치킨시대',
 '치킨커플',
 '칠칠켄터키',
 '파리에 다녀온 치킨',
 '갑진즉석',
 '신화불닭발 ',
 '독가마 숯불치킨',
 '꼬꼬팜',
 '영 아맛나',
 '다코기',
 '오마이치킨',
 '꾼닭(koondak)',
 '달닭',
 '해뜰닭',
 '치킨선수',
 '로타리치킨상회',
 '국민마늘치킨',
 '닭갈비클라쓰',
 '신동키닭 ',
 '본가옛날통닭',
 '치킨연구소',
 '서개미치킨',
 '엠에프씨 멕시칸치킨(MFC 멕시칸치킨)',
 '문진옥숯불바베큐치킨',
 '비에프씨치킨(B.F.C치킨)',
 '리킨치킨',
 '꿀딱',
 '농부치킨',
 '울통치킨',
 '치킨더비',
 '치킨버스',
 '치킨버스',
 '오후엔치킨',
 '치특',
 '닭집에떡볶이',
 '토닭토닭양념치킨',
 '솥뚜껑바베큐통닭',
 '신진통닭',
 '숯양두마리치킨',
 '김삿갓통닭',
 '아리아치킨',
 '안성파닭',
 '윙글',
 '행복치킨',
 '치킨런',
 '달&달치킨',
 '범벅치킨',
 '길성이치킨',
 '동네아저씨치킨',
 '마녀치킨',
 '치킨더치킨',
 '국민맥주',
 '계복치',
 '치맥킹',
 '양아치킨',
 '치킨퐁237',
 '달감치킨',
 '치킨리그 ',
 '일일치킨(11CHICKEN)',
 '가마꿉',
 '조시치킨',
 '꼭그닭치킨',
 '치킨19(chicken19)',
 '베리원치킨앤임실피자',
 '뭐꼬뭐꼬',
 '금동이두마리치킨',
 '중앙시장통닭',
 '치킨투어237',
 '킹스타치킨',
 '고려통닭',
 '그집마늘치킨 & 쪼닭',
 '뿔난닭두마리',
 '구이쟁이꾼',
 '가마솥옛날시골통닭',
 '밤새우는 닭',
 '원흥닭발통닭',
 '꿈을요리하다닭한끼',
 '오커치킨',
 '치킨방앗간',
 '더후라이팬치킨클럽',
 '모듬촌닭',
 '79치킨',
 '또이스치킨찜닭',
 '오지고 찜닭',
 '청원통닭',
 '혁명닭발',
 '치썸chicken(치썸치킨)',
 '추억닭발',
 '맹스숯불치킨',
 '푸드더하기',
 '옛날그시절 화덕찜닭',
 '마마치킨',
 '갓모어치킨',
 '미친닭',
 '치키니아',
 '순구치떡',
 '파리에다녀온치킨',
 '군닭400&국수',
 '툭툭 치킨',
 '호박치킨',
 '참나무장작구이고영닭',
 '홍단',
 '참숯불에꾸운닭',
 '삼덕통닭',
 '만수통닭',
 '낭만장작',
 '와치킨',
 '찐도리도리닭도리',
 '내가 조선의 치킨이고 맥주다',
 '탁사정흑마늘닭강정',
 '로스트 보스트 치킨(로보치킨)',
 '달우찜닭',
 '치킨마루',
 '돈치킨',
 '치킨도령',
 '옛날장터치킨',
 '꿀삐닭강정',
 '닭강정총각',
 '치킨버스',
 '치킨버스',
 '요치킨',
 '요치킨',
 '요치킨',
 '요치킨',
 '큐스',
 '브라보치킨피자',
 '알리바바치킨',
 '동수네통닭',
 '홍안동',
 '용천통닭',
 '라라치킨',
 '인절미통닭',
 '111치킨',
 '고향통닭',
 '케이칸치킨',
 '이귀환의 진짜한마리통닭',
 '원봉치킨',
 '더블치킨',
 '홍대찜닭',
 '픽스치킨(PICKS CHICKEN)',
 '도레미치킨',
 '반반이두통찜닭',
 '치킨살롱',
 '홍익마늘치킨',
 '치풍당당',
 '전설통닭',
 '심여사천북양념통닭',
 '상상치킨',
 '장군닭발',
 '천수통닭',
 '더착한치킨',
 '치몬치킨',
 '구어바 숮불BBQ 치킨',
 '양계농장',
 '바비큐보스',
 '디떽',
 '무궁치킨(MUGUNG CHICKEN)',
 '온니닭',
 '참맛치킨  꿀맛닭강정',
 '키로치킨',
 '국대후라이드치킨',
 '맛카오치킨',
 '치교치킨',
 '대한치킨집',
 '노상치킨',
 '815독립핫치킨',
 '사나운치킨',
 '블레드',
 '치킨본능',
 '강적',
 '한스맘숯불치킨',
 '치킨이즈백',
 '치킨욜로',
 '치킨공방',
 '불로불러참숯바베큐치킨',
 '통닭할매',
 ' 라쿤치킨&떡볶이',
 '오늘도후라이드',
 '다가치통닭',
 '우아한치킨',
 '명가통닭',
 '핫 게이트 99치킨',
 '돌통',
 '파핑스치킨',
 '수원왕갈비통닭',
 '보람치킨',
 '치킨중앙상회',
 '제주동우통닭',
 '에덴치킨',
 '치킨파머스',
 '치킨뱅3.0',
 '러브미텐더동네치킨',
 '햇살치킨',
 '치킨人류',
 '빛고을닭강정',
 '치킨특별시',
 '닭강정공방',
 '닭일배송',
 '효도치킨',
 '코리앗치킨',
 '치킨연맹',
 '통닭마니아',
 "영계푸드1988'옛날통닭",
 '꼬꼬뽀끼',
 '신이내린닭',
 '꽃꼬댁',
 '바푸리치킨',
 '희치킨',
 '내마음은 파닥파닭',
 '무쇠강정',
 '의춘숯불닭갈비',
 '따블',
 '감탄계숯불치킨',
 '오늘닭강정',
 '치킨176℃',
 '치킨과학기술대',
 ' 가마솥에 튀긴 광화문통닭',
 '치킨아울렛',
 '달강정앤떡볶이',
 '꽉찬치킨',
 '꼬꼬야시장',
 '바른닭67',
 '통닭왕',
 '내맘에두닭',
 '치끌림치킨',
 '후라이드참잘하는집',
 '인생닭강정',
 '강정천하',
 '청년이닭',
 ' 더페퍼 치킨식당 ',
 '치윙스',
 '올바른 닭강정 ',
 '가마통 ',
 '킹마니',
 '치킨의발자국',
 '고신통닭',
 '구도로통닭',
 '통닭1번가',
 '통닭연구소',
 '계왕',
 '치킨테리아']

In [ ]:
# 가맹점수 가져오기.
number_of_stores = [int(row.select_one("td:nth-child(3)").string.replace(",", "")) for row in rows]
number_of_stores

[1604,
 1518,
 1157,
 1134,
 1126,
 1114,
 1026,
 841,
 797,
 657,
 524,
 516,
 440,
 430,
 370,
 349,
 339,
 307,
 307,
 307,
 307,
 307,
 307,
 307,
 307,
 307,
 293,
 279,
 267,
 256,
 241,
 241,
 241,
 241,
 241,
 241,
 241,
 241,
 241,
 241,
 241,
 241,
 241,
 241,
 241,
 241,
 238,
 201,
 198,
 182,
 176,
 175,
 175,
 175,
 175,
 170,
 169,
 168,
 162,
 162,
 161,
 161,
 158,
 156,
 151,
 150,
 150,
 148,
 147,
 138,
 134,
 131,
 121,
 108,
 107,
 100,
 99,
 99,
 97,
 96,
 93,
 91,
 86,
 85,
 83,
 80,
 76,
 75,
 72,
 65,
 64,
 62,
 61,
 61,
 60,
 60,
 57,
 56,
 56,
 55,
 55,
 54,
 53,
 53,
 51,
 51,
 49,
 49,
 49,
 48,
 44,
 43,
 42,
 42,
 40,
 40,
 37,
 37,
 37,
 36,
 36,
 35,
 35,
 34,
 34,
 34,
 34,
 32,
 32,
 32,
 31,
 31,
 31,
 31,
 30,
 30,
 30,
 30,
 30,
 29,
 28,
 28,
 28,
 28,
 28,
 28,
 27,
 26,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 24,
 24,
 24,
 24,
 24,
 23,
 23,
 23,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 21,
 21,
 21,
 21,
 21,
 20,
 20,
 20,
 20,
 20,
 20,
 19,
 18,
 18,
 18,
 17,
 17,
 17,
 17,
 17,
 16,
 16,
 16,
 16,
 16,
 15,
 15,
 15,
 15,
 15,
 14,
 14,
 14,
 14,
 13,
 13,
 13,
 13,
 12,
 12,
 12,
 12,
 12,
 11,
 11,
 11,
 11,
 11,
 11,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [ ]:
# 가맹점 평균매출액 가져오기.
average_sales = [int(row.select_one("td:nth-child(8)").string.strip().split(" ")[0].replace(",", "")) for row in rows]
average_sales

[577875,
 435093,
 652690,
 215716,
 121270,
 191467,
 314455,
 208572,
 240091,
 122986,
 106444,
 231124,
 526522,
 433999,
 189353,
 117665,
 87952,
 136773,
 136773,
 136773,
 136773,
 136773,
 136773,
 136773,
 136773,
 136773,
 361400,
 178079,
 130086,
 55160,
 419394,
 419394,
 419394,
 419394,
 419394,
 419394,
 419394,
 419394,
 419394,
 419394,
 419394,
 419394,
 419394,
 419394,
 419394,
 419394,
 247495,
 441892,
 176187,
 173407,
 372715,
 327875,
 327875,
 327875,
 327875,
 320278,
 155751,
 112883,
 77857,
 219018,
 133596,
 168122,
 256986,
 258391,
 219686,
 114338,
 107173,
 197242,
 295314,
 119256,
 201899,
 83507,
 48124,
 36424,
 345175,
 181923,
 79775,
 177675,
 232348,
 122267,
 106167,
 172419,
 198937,
 103652,
 171188,
 190033,
 82929,
 180420,
 154867,
 254014,
 553944,
 151605,
 218658,
 87930,
 285013,
 165538,
 241479,
 156839,
 82338,
 220328,
 144457,
 81415,
 89922,
 83123,
 241231,
 314520,
 208524,
 11269,
 79966,
 204522,
 146753,
 113330,
 147377,
 274658,
 256194,
 230146,
 224020,
 171913,
 201686,
 53252,
 259166,
 63042,
 151908,
 74977,
 205254,
 0,
 51029,
 173002,
 86727,
 184048,
 185356,
 246834,
 203884,
 0,
 112394,
 130255,
 36763,
 138278,
 137117,
 40918,
 214406,
 148118,
 303731,
 156371,
 0,
 199439,
 285721,
 301094,
 172837,
 247724,
 0,
 159737,
 248112,
 172025,
 107780,
 58654,
 161417,
 357179,
 236999,
 247278,
 50463,
 356657,
 274827,
 249227,
 220814,
 340911,
 183251,
 85527,
 252559,
 286563,
 50374,
 235941,
 136800,
 369260,
 359935,
 62876,
 91641,
 159925,
 147396,
 75955,
 122396,
 11530,
 61481,
 117295,
 113316,
 225569,
 44580,
 110147,
 112515,
 46324,
 91332,
 0,
 292979,
 224523,
 125005,
 130824,
 109352,
 87481,
 219469,
 262904,
 241551,
 70849,
 293883,
 0,
 406900,
 123678,
 0,
 51060,
 88628,
 174232,
 95442,
 251266,
 246175,
 183989,
 29247,
 0,
 0,
 163171,
 271714,
 109256,
 0,
 104511,
 342922,
 381672,
 106320,
 178933,
 51093,
 0,
 245644,
 134961,
 34400,
 129487,
 0,
 103784,
 0,
 98183,
 174788,
 340890,
 281107,
 142810,
 237760,
 54421,
 0,
 297079,
 0,
 87691,
 192631,
 401812,
 348528,
 68750,
 101271,
 137979,
 273990,
 129107,
 368766,
 299239,
 0,
 0,
 173714,
 0,
 0,
 161826,
 461980,
 0,
 0,
 0,
 78968,
 90188,
 130303,
 396993,
 0,
 172263,
 46131,
 39164,
 151896,
 206032,
 0,
 0,
 0,
 189107,
 52041,
 114396,
 130494,
 136905,
 0,
 0,
 134707,
 0,
 279924,
 280200,
 329287,
 329287,
 171980,
 105287,
 0,
 72468,
 0,
 477172,
 201326,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 176133,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 183919,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [ ]:
# 가져온 데이터를 바탕으로 데이터프레임 만들기.
data = pd.DataFrame({
    "브랜드명": names,
    "가맹점 수": number_of_stores,
    "가맹점 평균매출액": average_sales
})
data

           브랜드명  가맹점 수  가맹점 평균매출액
0      비비큐(BBQ)   1604     577875
1    비에이치씨(BHC)   1518     435093
2          교촌치킨   1157     652690
3       처갓집양념치킨   1134     215716
4          페리카나   1126     121270
..          ...    ...        ...
496       구도로통닭      0          0
497       통닭1번가      0          0
498       통닭연구소      0          0
499          계왕      0          0
500       치킨테리아      0          0

[501 rows x 3 columns]

In [ ]:
# 중복된 항목 제거.
data.drop_duplicates(subset = "브랜드명", keep = False, inplace = True)
data.reset_index(drop = True, inplace = True)
data

           브랜드명  가맹점 수  가맹점 평균매출액
0      비비큐(BBQ)   1604     577875
1    비에이치씨(BHC)   1518     435093
2          교촌치킨   1157     652690
3       처갓집양념치킨   1134     215716
4          페리카나   1126     121270
..          ...    ...        ...
457       구도로통닭      0          0
458       통닭1번가      0          0
459       통닭연구소      0          0
460          계왕      0          0
461       치킨테리아      0          0

[462 rows x 3 columns]

In [ ]:
# 가맹점 수가 0인 행 제거.
data.drop(data.loc[data["가맹점 수"] == 0].index, inplace = True)
data

                 브랜드명  가맹점 수  가맹점 평균매출액
0            비비큐(BBQ)   1604     577875
1          비에이치씨(BHC)   1518     435093
2                교촌치킨   1157     652690
3             처갓집양념치킨   1134     215716
4                페리카나   1126     121270
..                ...    ...        ...
334          찐도리도리닭도리      1          0
335   내가 조선의 치킨이고 맥주다      1          0
336         탁사정흑마늘닭강정      1          0
337  로스트 보스트 치킨(로보치킨)      1          0
338              달우찜닭      1          0

[339 rows x 3 columns]

In [ ]:
# 가맹점 평균매출액이 0인 행 제거.
data.drop(data.loc[data["가맹점 평균매출액"] == 0].index, inplace = True)
data.reset_index(drop = True, inplace = True)
data

           브랜드명  가맹점 수  가맹점 평균매출액
0      비비큐(BBQ)   1604     577875
1    비에이치씨(BHC)   1518     435093
2          교촌치킨   1157     652690
3       처갓집양념치킨   1134     215716
4          페리카나   1126     121270
..          ...    ...        ...
232    토닭토닭양념치킨      5      72468
233        신진통닭      5     477172
234     숯양두마리치킨      5     201326
235        범벅치킨      4     176133
236   더후라이팬치킨클럽      2     183919

[237 rows x 3 columns]

In [ ]:
# 목표 브랜드명으로 필터링. (맘스터치, 푸라닭 제외)
target_brands = ["비비큐(BBQ)", "굽네치킨", "비에이치씨(BHC)", "교촌치킨", "노랑통닭", "60계", "바른치킨", "자담치킨", "네네치킨", "호식이두마리치킨", "지코바양념치킨", "처갓집양념치킨", "깐부치킨", "페리카나", "또래오래", "아웃닭", "땅땅치킨", "또봉이통닭"]
data = data.loc[data["브랜드명"].isin(target_brands)]
data.reset_index(drop = True, inplace = True)
data

          브랜드명  가맹점 수  가맹점 평균매출액
0     비비큐(BBQ)   1604     577875
1   비에이치씨(BHC)   1518     435093
2         교촌치킨   1157     652690
3      처갓집양념치킨   1134     215716
4         페리카나   1126     121270
5         네네치킨   1114     191467
6         굽네치킨   1026     314455
7     호식이두마리치킨    797     240091
8         또래오래    657     122986
9        또봉이통닭    524     106444
10     지코바양념치킨    516     231124
11         60계    440     526522
12        노랑통닭    430     433999
13        땅땅치킨    279     178079
14        자담치킨    238     247495
15        깐부치킨    201     441892
16        바른치킨    170     320278
17         아웃닭     64     553944

In [ ]:
# 맘스터치와 푸라닭 데이터 삽입. (출처: 구글링)
data = data.append({
    "브랜드명": "맘스터치",
    "가맹점 수": 1348,
    "가맹점 평균매출액": None
}, ignore_index = True)
data = data.append({
    "브랜드명": "푸라닭",
    "가맹점 수": 241,
    "가맹점 평균매출액": None
}, ignore_index = True)
data = data.sort_values(by = "가맹점 수", ascending = False)
data.reset_index(drop = True, inplace = True)
data

          브랜드명  가맹점 수 가맹점 평균매출액
0     비비큐(BBQ)   1604    577875
1   비에이치씨(BHC)   1518    435093
2         맘스터치   1348      None
3         교촌치킨   1157    652690
4      처갓집양념치킨   1134    215716
5         페리카나   1126    121270
6         네네치킨   1114    191467
7         굽네치킨   1026    314455
8     호식이두마리치킨    797    240091
9         또래오래    657    122986
10       또봉이통닭    524    106444
11     지코바양념치킨    516    231124
12         60계    440    526522
13        노랑통닭    430    433999
14        땅땅치킨    279    178079
15         푸라닭    241      None
16        자담치킨    238    247495
17        깐부치킨    201    441892
18        바른치킨    170    320278
19         아웃닭     64    553944

In [ ]:
# 엑셀 파일로 내보내기.
data.to_excel("./franchise.xlsx")